# ignore RStudio project file
.Rproj.user/
*.Rproj
.RData
.Rhistory
*.Rmd
.Rproj.user

# ignore files in data/ directory
# except for camera data
# telemetry data available on Movebank (https://www.movebank.org/)
# as part of the "ABoVE: Boutin Alberta Grey Wolf" study (study ID #492444603).
data/**
!**/data/cameras/
!**/data/cameras/*.csv

# ignore draft plots sent to collaborators
figures/drafts/

# ignore GIS layers
# GIS layers used to generate Fig 1 study area map
# these layers are available from the following sources
# 1. Linear features from the Alberta Biodiversity Monitoring Institute (http://abmi.ca/home/data-analytics/da-top/da-product-overview/GIS-Land-Surface/HF-inventory.html)
# 2. Major rivers from Alberta Environment and Parks (Government of Alberta) (https://maps.alberta.ca/genesis/rest/services/Base_Water_Feature/Latest/MapServer)
# 3. Outlines of Canadian provinces and U.S./Canada boundaries from Natural Earth (https://www.naturalearthdata.com/downloads/10m-cultural-vectors/)
gis_layers/
